{% extends 'base.html' %}
{% block title %}
  Todo Page
{% endblock %}

{% block body %}
  <h1 class="todo-list">Todo List</h1>
  <section class="todo-section">
    <form action="/add" method="POST">
      <div>
        <input class="todo-input" type="text" name="todo" placeholder="Type Todo Here" required=true> 
        <button class="todo-button" type="submit">Add Todo</button>
        <p class="todo-date">Due Date: <input type="text" name="date" id="datepicker" placeholder="mm/dd/yy" required=true></p>
      </div>
    </form>
  </section>
  <div class="todo-dropdown dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Order By
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/date">Due Date</a></li>
      <li><a class="dropdown-item" href="/completed">Completed</a></li>
      <li><a class="dropdown-item" href="/notcompleted">Not Completed</a></li>
      <li><a class="dropdown-item" href="/todo">Number</a></li>
    </ul>
  </div>
  <section class="todo-card-container">
    {% for todo in todo_list %}
    {% if todo.completed == False %}
    <div class="todo-card card">
      <div class="card-body">
        <h5 class="card-title">Todo #{{ todo.id }}</h5>
        <b>Task:</b>
          <p class="card-text">{{ todo.todo }}</p>
          <b>Date: {{ todo.date }}</b>
          <br />
          <a href="/update/{{ todo.id }}" class="btn btn-secondary">UnDone</a>
          <a href="/remove/{{ todo.id }}" class="btn btn-danger">Remove</a>
      </div>
    </div>
    {% endif %}
    {% if todo.completed == True %}
    <div class="todo-card card">
      <div class="card-body">
        <h5 class="card-title">Todo #{{ todo.id }} ⭐️</h5>
        <b>Task:</b>
        <p class="card-text">{{ todo.todo }}</p>
        <b>Date: {{ todo.date }}</b>
        <br />
          <a href="/update/{{ todo.id }}" class="btn btn-success ">Done</a>
          <a href="/remove/{{ todo.id }}" class="btn btn-danger ">Remove</a>
      </div>
    </div>        
    {% endif %}
    {% endfor %}
  </section>
{% endblock %}